html,
body {
  font-family: "Baskerville", "Georgia", serif;
  background-color: #f5edea;
}

.container {
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr);
  grid-template-rows: auto minmax(min-content, 1fr) auto;
  max-width: 960px;
  margin: 0 auto;
}

header {
  font-size: 2rem;
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.counter {
  grid-column: 1;
  grid-row: 2;
  background-color: antiquewhite;
  padding: 2px 4px;
  width: 16rem;
  display: flex;
  flex-wrap: wrap;
}

.shelves {
  grid-column: 2;
  grid-row: 2;
  margin-left: 10px;
  border: 0.2rem solid #402012;
  border-bottom: 1rem solid #402012;
  background-color: #b37456;
  height: 40.5rem;
}

.shelf {
  border: 0.2rem solid #402012;
  background: #904928;
  cursor: pointer;
  min-height: 9rem;
  width: 44rem;
  display: grid;
  align-items: end;
}

.spice {
  background: linear-gradient(0deg, #f7fefa 80%, #486455 75%);
  grid-row: 1 / span 2;
  text-align: center;
  border: 0.1rem solid #2b3c33;
  border-top: 0.9rem double #2b3c33;
  width: 4.8rem;
  height: 7rem;
  display: grid;
  align-items: center;
  padding-top: 1rem;
  margin: 0.1rem;
  font-size: 1.4rem;
  font-style: italic;
  color: #2b3c33;
}

.spice:before {
  background: #486455;
}

.footer {
  grid-column: 1 / span 2;
  font-family: "Open Sans", sans-serif;
  grid-row: 3;
  margin-top: 20px;
  padding: 5px 10px;
  color: black;
  margin-bottom: 20px;
}

hr {
	border-top: 1.8rem double #60311b;
	text-align: center;
  line-height: 0rem;
  margin-top: -1.8rem;
  z-index: 100;
  opacity: .99;
}
hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -1rem;
	color: #30180d;
	font-size: 2rem;
  z-index: 100;
}

/* dragula styles */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
